html{
    font-family: Vazir;
    font-weight: bold;
    height: 100%;
    background: url("pic/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50%;
    background-color: rgba(7, 52, 58, 0.6);
    display: flex;
    flex-direction: column;
    padding: 15%;
    padding-bottom: 9%;
    padding-top: 10vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 9%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.45), 0 17px 50px 0 rgba(0, 0, 0, 0.35);
}
.header1{
    /*background: linear-gradient(burlywood,cadetblue);*/
    padding-bottom: 6vh;
    font-size: x-large;
     font-family: Vazir;
   color: peachpuff;
}

.btn{
    padding: 2% 41%;
    background: rgba(15, 73, 141, 0.5);
    font-family: 'Vazir';
    font-weight: bold;
    color: peachpuff;
    margin-top: 14%;
    border-radius: 10px;
    margin-bottom: 19%;

}
.icon {
    padding: 9px;
    background: #4288c4;
    color: white;
    min-width: 30px;
    text-align: center;
}
.input-field{
    padding: 4% 0%;
    border-style: solid;
    border-color: rgba(5, 21, 80, 0.68);
    /*font-family: Vazir;*/
}

.btn:hover {
    background: rgba(31, 56, 90, 0.5);
    color: #0c0600;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.66), 0 17px 50px 0 rgba(0, 0, 0, 0.34);

}
::placeholder{
    color: #000613;
    font-family: Vazir;
    font-weight: bold;
}

.forget,.creat {

    padding: 0% 10%;
    background: rgba(250, 247, 247, 0.4);
    font-family: 'Vazir';
    font-weight: bold;
    color: black;
    margin-top: 6%;
    border-radius: 10px;
}

.btn-signup{
    margin-top: 6%;

    padding: 0% 10%;
}

.btn-signup:hover{
    background: rgba(54, 146, 252, 0.5);
    color: #0c0600;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.36), 0 17px 50px 0 rgba(0, 0, 0, 0.55);

}
.btn-forget:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.45), 0 17px 50px 0 rgba(0, 0, 0, 0.35);
    background: rgba(54, 146, 252, 0.5);
    color: #0c0600;
}
